@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "./components/gender.css";

@theme {
  --font-sans: "Fredoka", sans-serif;
}

:root {
  --p-primary-color: #16a34a; /* green-600 */
  --p-primary-hover-color: #15803d;
  --p-primary-active-color: #166534;
}
html {
  font-size: 20px; /* adjust: 16px default, 14px = more compact UI */
}

.bg-secondary {
  background: #c87676;
}

@import "tailwindcss";

 body{
   background-color: #fbf9f1;
 }

 .bg-wedding {
   background-image: url('@/assets/img/background_lq.jpg');
   background-size: cover;
 }

.bg-wedding::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100dvh; /* important on modern iOS */
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 0;
}

.bg-wedding > * {
  position: relative;
  z-index: 1;
}

.bg-light {
  background-color: #fbf9f1;
}
