@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "./components/gender.css";

@theme {
  --font-sans: "Fredoka", sans-serif;
}

:root {
  --primary-color: #c8768; /* your color */
}

.bg-secondary {
  background: #c87676;
}

@import "tailwindcss";

 body{
   background-color: #fbf9f1;
 }

 .bg-wedding {
   background-image: url('@/assets/img/background_lq.jpg');
   background-size: cover;
 }

.bg-wedding::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 0;
}

.bg-wedding > * {
  position: relative;
  z-index: 1;
}

.bg-light {
  background-color: #fbf9f1;
}
